/* SiteFooter.css */
.site-footer {
    position:static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Slightly transparent black background */
    text-align: center;
    padding: 10px 0;
    font-size: 20px; /* Adjust size as needed */
    color: #ffffff; /* White text */
    margin: 0;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    padding-bottom: 5px;
}

.site-footer a {
    color: #fce05c; /* Same color as the text */
    text-decoration: none; /* No underline */
    transition: color 0.3s ease, transform 0.3s ease; /* Animation effect */
}

.site-footer a:hover {
    color: yellow; /* Yellow color on hover */
    transform: scale(1.3); /* Slightly increase size on hover */
}
