.home-container-section {
  text-align: left; /* Align text to the left */
  padding: 10px;
  position: relative; /* Add this for positioning */
}

/* Image styling */
.content-img {
  width: 100%; /* Makes the image responsive */
  max-width: 400px; /* Set max width to 400px */
  height: auto;
  margin: 0 auto; /* Center image on smaller screens */
}

/* Styling for the text */
.content-text {
  margin-top: 10px;
  font-size: 16px;
  color: #ffffff;
  align-self: center;
  margin-left: 55px;
  margin-right: 55px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 20px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .content-text {
    font-size: 14px;
    padding: 8px;
    margin: 5px;
  }
  
  .content-img {
    max-width: 100%;
    margin: 0 auto;
  }
}

@font-face {
  font-family: 'Moontime';
  src: url('../Font/FontsFree-Net-MoonTime-Regular-1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Tag-Line {
  font-family: 'Moontime', sans-serif;
  font-size: 35px;
  color: yellow;
  align-items: center;
}

/* New styles for the RegisterUp component */
.register-up-container {
  position: absolute;
  right: 80px;
  top: 80px;
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  align-items: center; 
  padding: 10px;
}

@media (max-width: 768px) {
  .register-up-container {
    position: static; /* Reset position for small and medium screens */
    justify-content: center; /* Center the button on small and medium screens */
    padding: 10px 0;
  }
}
