/* Center the button using flexbox */
.ButtonUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registerUp-btn {
    background: #4263ac;
    color: rgb(0, 0, 0);
    font-size: 1.2rem; /* Increased font size */
    font-weight: bold;
    padding: 16px 30px; /* Increased padding */
    border: 5px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    width: 200px; /* Increased width */
    height: 80px; /* Increased height */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
  }
  
  .registerUp-btn:hover {
    background: rgb(0, 0, 0);
    color: #4263ac;
    border: 3px solid #4263ac;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
  }
  
  .registerUp-btn:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  