.achievements-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: aliceblue;
}

.Achievements-section {
  background-color: rgba(0, 0, 0, 0.8);
  align-content: center;
  max-width: 1500px; /* Increase max-width for larger size */
  width: 100%; /* Adjust width as needed, e.g., 90% of the viewport width */
  height: auto; /* Set height to auto to maintain aspect ratio */
  margin: 20px auto; /* Adjust margin for spacing */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  border-radius: 50px;
  border: 2px solid yellow;
  padding: 20px; /* Add padding for internal spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

@media (min-width: 768px) {
  .Achievements-section {
    max-width: 1200px; /* Adjust max-width for larger screens */
  }
}

@media (min-width: 992px) {
  .Achievements-section {
    max-width: 1000px; /* Further adjust for even larger screens */
  }
}

@media (min-width: 1200px) {
  .Achievements-section {
    max-width: 1500px; /* Maximum width on very large screens */
  }
}

/* Styles for the card text */
.card-text {
  font-size: 18px; /* Default font size */
}

/* Adjust card text for small screens */
@media (max-width: 576px) {
  .card-text {
    font-size: 13px; /* Smaller font size for small screens */
  }
}

/* Adjust heading size for small screens */
@media (max-width: 576px) {
  .achievements-heading {
    font-size: 15px; /* Smaller font size for small screens */
  }
}
