.home-card {
  position: relative;
  width: 90%;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-bottom: 40px; /* Maintain spacing between cards */
  margin-left: 5%; /* Add left margin to move cards to the right */
}

.card-1 {
  background-image: url('../HomeImages/LibraryUI.jpg');
  background-size: cover;
  background-position: top;
}

.card-2 {
  background-image: url('../HomeImages/Classified.png');
  background-size: cover;
  background-position:top;
}

.card-3 {
  background-image: url('../HomeImages/CylinderUI.jpg');
  background-size: cover;
  background-position: top;
}

.home-card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.home-card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.home-card:hover .home-card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
  border: 2px yellow solid;
}

.home-card__title {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}

.home-card__description {
  margin: 10px 0 0;
  font-size: 10px;
  color: #ffffff;
  line-height: 1.4;
  align-content: center;
}

.home-card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
